* {
  margin: 0;
  padding: 0;
}

/* BACKGROUND IMAGE */
.homeImage {
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

/* HEADER LINKS AND NAV */
.headerLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Red Hat Display", sans-serif;
  /* justify-content: space-between; */
  text-transform: uppercase;
  margin-top: 30px;
}

/* MAKES NAV LINKS SMALLER ON MOBILE VP */
@media (max-width: 600px) {
  nav > ul > li {
    font-size: 0.67em;
  }
}

/* LANDING PAGE */
h1 {
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 88px;
  text-transform: uppercase;
  margin-top: 142px;
  font-weight: 300;
}

/* MAKES VICIOUS CYCLES NAME ON LANDING RESPONSIVE */
@media (max-width: 600px) {
  .headerName {
    font-size: 4.5em;
    width: auto;
  }
}

/* MAKES SUBHEADER RESPONSIVE */
@media (max-width: 600px) {
  h2 {
    font-size: 1em;
    font-weight: 400;
  }
}

h2 {
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}

.onyxLogo {
  display: flex;
  justify-content: center;
  height: 75px;
  padding-top: 50px;
}

.homeContainer {
  margin-bottom: 266px;
  /* margin-top: 300px; */
}

.headerLinks {
  font-family: "Red Hat Display", sans-serif;
  list-style-type: none;
}

li > a {
  text-decoration: none;
  color: black;
}

/* PRODUCTS PAGE*/
.productsBackground {
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin: 50px 80px;
  padding: 50px;
}

@media (max-width: 600px) {
  .productsBackground {
    margin: 20px 20px;
  }
}

.cardHeader {
  margin-top: 10px;
}

.bikeText {
  font-family: "Red Hat Display", sans-serif;
  margin-top: 5px;
  line-height: 1.5;
}

.partsText,
.aboutText {
  font-family: "Red Hat Display", sans-serif;
  margin-top: 5px;
  line-height: 1.5;
}

.link {
  /* text-decoration: none; */
  color: black;
}

.link:hover {
  color: #00a1ff;
}

.partsList {
  font-family: "Red Hat Display", sans-serif;
  margin-left: 25px;
  margin-top: 10px;
  line-height: 1.5;
}

/* IMAGE RESPONSIVENESS FOR PRODUCTS PAGE */
@media (max-width: 872px) {
  .productsBackground,
  .textContainer {
    flex-direction: column;
  }
}

/* CONTACT PAGE */
.glass {
  background: rgba(255, 255, 255, 0.3);
  height: 524px;
  width: 700px;
  backdrop-filter: blur(0.2rem);
  border-radius: 4px;
}

.containerContact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 65px;
  margin-bottom: 110px;
}

.checkboxQ {
  font-family: "Red Hat Display", sans-serif;
  padding-left: 12px;
}

/* CHANGING MARGINS FOR FORM */
@media (max-width: 600px) {
  .containerContact {
    margin: 20px 20px 0px 20px;
  }
}

/* RESPONSIVE HEIGHT FOR FORM BOX AND TEXT */
@media (max-width: 600px) {
  .glass {
    height: 530px;
    margin-bottom: 20px;
  }
  label {
    font-size: 0.8em;
  }
  .robot,
  .notRobot,
  .robotRadio {
    display: none;
  }
}

label {
  font-family: "Red Hat", sans-serif;
  padding-left: 12px;
}

.checkbox {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-bottom: 15px;
  padding-top: 15px;
}

.checkboxText {
  margin-left: 10px;
}

input[type="text"],
select,
textarea {
  font-family: "Red Hat", sans-serif;
  font-size: 12px;
  width: 100%;
  padding: 13px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 1px;
  resize: vertical;
}

input[type="submit"] {
  background: rgba(255, 255, 255, 0.3);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.notRobot,
.robot {
  padding-left: 20px;
  padding-right: 10px;
}
.robot {
  padding-left: 40px;
}

input[type="submit"]:hover {
  background-color: #6daab6;
}

.container {
  border-radius: 5px;
  padding: 20px;
  opacity: 0.8;
}

label {
  font-family: "Red Hat Display", sans-serif;
}

/* FOOTER STYLING */
.footerText {
  font-family: "Red Hat Display", sans-serif;
  color: white;
  display: flex;
  text-align: center;
}

#footLink,
#footLink2,
#footLink3,
#footLink4 {
  color: white;
}

.containerFooter {
  height: 140px;
  background: rgba(0, 0, 0, 0.85);
}

.footerLinks {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  list-style-type: none;
}

/* MAKES FOOTER SOCIALS RESPONSIVE */
@media (max-width: 600px) {
  #footLink {
    font-size: 1em;
  }
}

/* MAKES FOOTER TEXT RESPONSIVE */
@media (max-width: 600px) {
  .footerText {
    font-size: 0.9em;
  }
}

/* SOCIAL PAGE */
.portrait1 {
  border-radius: 50%;
  padding: 20px;
}

.social1 {
  padding: 20px;
}

.video {
  border-style: none;
}

/* RESPONSIVE FOR REVIEW CARDS */
@media (max-width: 872px) {
  .reviewCard,
  .reviewCard2,
  .reviewCard3 {
    flex-direction: column;
    margin: 20px 20px 20px 20px;
  }
  .video {
    height: 300px;
  }
  .socialBackground {
    /* font-size: em; */
    margin: 0px -60px;
  }
}

.reviewCard,
.reviewCard2,
.reviewCard3 {
  background-color: rgba(255, 255, 255, 0.7);
  margin: 50px 80px;
}

.reviewCard,
.reviewCard3 {
  display: flex;
  justify-content: space-between;
}

.reviewCard2 {
  display: flex;
  justify-content: space-between;
  /* flex-direction: row-reverse; */
}

.socialText2 {
  font-family: "Red Hat Display", sans-serif;
  line-height: 2;
  display: flex;
  text-align: center;
  align-items: center;
}

/* ABOUT PAGE */

.textBox {
  font-family: "Red Hat Display", sans-serif;
  line-height: 2;
  max-width: 300px;
  min-width: 200px;
  margin-top: 20px;
  font-size: 1rem;
  margin-bottom: 20px;
}

.textContainer {
  display: flex;
  justify-content: space-around;
}

.firstWord {
  font-size: 20px;
  font-weight: 500;
}

.aboutBackground {
  background-color: rgba(255, 255, 255, 0.7);
  margin: 50px 80px;
  padding: 50px;
}

@media (max-width: 600px) {
  .aboutBackground {
    margin: 20px 20px;
  }
  .textBox {
    text-align: center;
  }
}
